@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #faf2e8;
}


.sidebar{
    border-right: 2px solid #6c4a21;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: transparent;
    transition: all 0.5s ease;
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}


.sidebar.close .text{
    opacity: 0;
}

.sidebar.close .toggle{
    padding: 8px;
}

.sidebar .img-text img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #6c4a21;
}

.sidebar header .img-text{
    display: flex;
    align-items: center;
}

.sidebar .img-text{
    font-size: 16px;
    font-weight: 500;
    color: #6c4a21;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

header .img-text .header-text{
    display: flex;
    flex-direction: column;
}
.header-text .name{
    font-weight: 600px;

}
.header-text .admin{
    margin-top: -2px;
    color: #6c4a2199;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) scaleX(-1);
    height: 25px;
    width: 25px;
    background-color: #faf2e8;
    border:2px solid #6c4a21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c4a21;
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
    cursor: pointer;
}
.sidebar header{
    position: relative;
    margin-top: 3rem;
}

.sidebar li{
    height: 50px;
    margin-top: 15px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    min-width: 60px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}


.sidebar li .icon, .sidebar li .text{
    color: #6c4a21;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;

}

.sidebar li .text{
    font-weight: 400;
}

.sidebar li a:hover{
    /*transform: scale(1.1);*/
    transform: all 0.2s ease;
    border-bottom: 2px solid #6c4a21;
    border-radius: 2px;

}

.sidebar li a:hover .text{
    font-weight: 500;
}


.sidebar .menu-bar{
    margin-top: 3rem;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slidebar .text{
    transition: all 0.4s ease;
    white-space: nowrap;
    opacity: 1;
}

.home{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% -88px);
    transition: all 0.5s ease;
}

.home .text{
    font-family: "Montserrat", sans-serif;
    color: #6c4a21;
    font-size: 50px;
    font-weight: 450;
    padding: 40px 50px;
}
.sidebar.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% -88px);
}