@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:#faf2e8;
    transition: all 0.3s ease;
}

::selection{
    background-color:#6c4a2191;
    color:#6c4a21;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: transparent;
    border-right: 2px solid #6c4a21;
    transition: all 0.3s ease;
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.sidebar .icon{
    min-width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.sidebar .text,
.sidebar .icon{
    color:#6c4a21;
    transition: all 0.3s ease;
}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}

.sidebar header{
    position: relative;
    padding-top: 2rem;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar header .haeder-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 500;
}

.sidebar .bottom-content {
    margin-top: auto; 
    margin-bottom: 20px;  
}

.sidebar header .image {
    margin-right: 10px; 
}

.sidebar header .header-text {
    margin-left: 10px; 
}


header .image-text .admin{
    font-size: 16px;
    margin-top: -2px;
    display: block;
    color: #6c4a2175;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sidebar header .image img{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #6c4a21;

}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) scaleX(-1);
    height: 25px;
    width: 25px;
    background-color: #faf2e8;
    border:2px solid #6c4a21;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6c4a21;
    border-radius: 2px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sidebar.close header .toggle{
    transform: translateY(-50%);
    cursor: pointer;
}

.sidebar.close .toggle{
    padding: 8px;
}

.sidebar.close .toggle:hover{
    color: #6c4a214d;
}

.sidebar .toggle:hover{
    color: #6c4a214d;
}

.sidebar .menu{
    margin-top: 40px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    transition: all 0.3s ease;
}


.sidebar li .text{
    font-weight: 400;
}

.sidebar li a:hover{
    /*transform: scale(1.1);*/
    transform: all 0.2s ease;
    border-bottom: 2px solid #6c4a21;
    border-radius: 2px;

}

.sidebar li a:hover .text{
    font-weight: 500;
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;

}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .logout{
    position: relative;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    transition: all 0.3s ease;
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    padding: 40px 50px;    
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
