@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    font-size: 62.5%;
    width: 100%;
    background-color:#faf2e8;
}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    position: relative;
    height: 70px;
    border-bottom: 2px solid #6c4a21;
}

.logo {
    color: #6c4a21;
    border-right:2px solid #6c4a21;
    border-left:2px solid #6c4a21;
    padding: 0 10rem;
}

nav ul li .link{
    transition: all 0.3s ease;
}

nav ul li .link:hover{
    font-weight: 550;
    transform: scale(1.1);
}


nav ul {
    display: flex;
    gap: 30px;
    justify-content: space-between; 
    align-items: center;
    flex: 1;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    font-size: 18px;
    font-weight: 450;
    text-transform: uppercase;
    color: #6c4a21;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: #6c4a21;
    font-size: 30px;
}

@media (max-width: 991px){
	html{
        font-size: 55%;
    }

}

@media (max-width:780px) {
    html{
		font-size: 35%;
	}

    nav {
        border-bottom: none;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #faf2e8e1;
        gap: 0;
        overflow: hidden;
        border-bottom: 2px solid #6c4a21;
        justify-content: center; 
        z-index: 1000; 
    }

    nav ul li  .logo {
        display: none;
        padding: 0px;
    }

    nav ul li .link{
        padding: 20px;
        padding-top: 0;
    }

    .menu-icon{
        display: block;
        font-size: 15px;
    }  

    #menuList {
        transition: all 0.5s ease;
    }

}


