@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

* {
    color: #6c4a21;
}

html {
    font-size: 62.5%;
}

.home .new {
    font-size: 9rem; 
    font-weight: 300;
    text-align: center;
    border-bottom: 2px solid #6c4a21;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .home .new {
        font-size: 7.5rem; 
    }
}

@media (max-width: 780px) {
    html {
        font-size: 35%;
    }

    .home .new {
        font-size: 6rem; 
    }

}